.card:hover {
    box-shadow: 0 8px 12px 0 rgb(0 0 0 / 20%);
}

a.navbar-brand.text-light {
    font-size: large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 9px;
    margin-left: 11px;
    background-color: #4e9b8f;
}

.navbar-light .navbar-nav .nav-link.active {
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

} 
.navbar{
    background-color: #4e9b8f;
}